{% extends 'base.html' %}

{% block content %}
<h1>{{ object.name }}</h1>
<img src="{{ object.image.url }}" alt="{{ object.name }}" style="width: 500px; height: 500px;">
<p>Голосов за: {{ object.votes_for }}</p>
<p>Голосов против: {{ object.votes_against }}</p>
<p>{{ object.description }}</p>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<form method="post" action="{% url 'character_vote_for' object.pk %}">
    {% csrf_token %}
    <button type="submit" name="vote_for" class="btn btn-success">Голосовать за</button>
</form>

<form method="post" action="{% url 'character_vote_against' object.pk %}">
    {% csrf_token %}
    <button type="submit" name="vote_against" class="btn btn-danger">Голосовать против</button>
</form>



<a href="{% url 'character_list' %}" class="btn btn-secondary">Назад к списку</a>
{% endblock %}

